.RandomPokemon {
  border: 2px dashed rgb(72, 171, 224);
  border-radius: 10px;
  box-shadow: 0 0 8px 2px rgb(162, 209, 235);
  width: 300px;

  margin: 40px;
}

.RandomPokemon img {
  width: 150px;
  padding-bottom: 20px;
}

.RandomPokemon h1 {
  color: #48abe0;
}
