.RandomPokemon {
  border: 2px dashed rgb(121, 121, 121);
  border-radius: 10px;
  box-shadow: 0 0 10px 1px #48abe0;
  width: 300px;

  margin: 40px;
}

.RandomPokemon img {
  width: 150px;
  padding-bottom: 20px;
}

.RandomPokemon h1 {
  color: #48abe0;
}
